body {
  background-color: #fcf6f5;
  width: 100vw;
  overflow-x: scroll;
}

.bookWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subjectList {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.subjectList p {
  margin: 0 40px;
  font-size: 20px;
}

.bookWrap:last-child {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  place-items: center;
  margin: 15px 5vw;
}

.bookList {
  width: 350px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border: 1px solid #44bd32;
  margin-bottom: 40px;
}
