.footer {
  background-color: #44bd32;
  display: flex;
  justify-content: center;

  height: 10vh;
}

.social-icon-link {
  color: #fff;
  font-size: 24px;
}

.social-media {
  max-width: 1000px;
  width: 100vw;
  display: flex;
  align-items: center;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;

  max-width: 1000px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.social-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.website-rights {
  color: #fff;
  margin-bottom: 16px;
}
