@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}

.navbar {
  width: 100vw;
  height: 120px;
  top: 0;
  left: 0;
  position: sticky;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #44bd32;
}

.navbar-container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 33%;

  font-family: 'Nanum Gothic', sans-serif;
  font-size: 30px;
}


.logo-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-link img {
  width: 80px;
}

.navbar:first-child {
  display: flex;
  justify-content: flex-start;
}

.navbar:nth-child(2) {
  font-size: 25px;
  justify-content: center;
}

.navbar:last-child {
  display: flex;
  justify-content: flex-end;
}

.navbar-container a {
  color: #44bd32;
  text-decoration: none;
  margin: 0 20px;
  line-height: 40px;
}

.navbar-container:nth-child(2) a:after,
.navbar-container:last-child a:after {
  display: block;
  content: "";
  border-bottom: solid 3px #44bd32;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navbar-container a:hover:after {
  transform: scaleX(1);
}
/*
.navbar-container__page:hover {
  text-decoration: underline;
}
*/

/*
.logo {
  display: flex;
  justify-content: start;
  color: #fcf6f5;
 font-family: 'Fredoka One', cursive;
  font-size: 50px;
  line-height: 28px;
}

.nav-link {
  margin: 0 5px;
  color: #fcf6f5;
}
.navbar-container:nth-child(1) {
  align-items: center;
  position: absolute;
  margin: 20px 0 15px 0;
  display: flex;
}
.nav-login {
  color: #fcf6f5;
}

/*
.analyze-page {
  right: 1%;
  position: absolute;
  color: #FCF6F5;
}
*/
