* {
  padding: 0;
  margin: 0;
}

.cards-items__column {
  text-align: center;
}

.card_img {
  width: 150px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.cards-items__column h3 {
  margin-bottom: 10px;
}

.cards-items__column p {
  margin-bottom: 5px;
}
