
body {
  background-color: #FCF6F5;
}

.bookWrap {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.subjectList {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.subjectList p {
  margin: 0 20px;
}

.bookWrap:last-child {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
}


.bookList {
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookCard {
  width: 300px;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}