/*
.bookList {
  max-width: 90vw;
  margin: 0 auto;
  padding: 30px;
  background-color: green;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.bookCard {
  height: 400px;
  margin: 10px 1em;
  padding-left: 10px;
  padding-right: 10px;
  background-color: blueviolet;
  flex: 0 1 20%;
}
*/

.bookList {
  background-color: green;
  display: flex;
}

.bookCard {
  width: 400px;
  height: 500px;
  margin: 10px 1em;
  padding-left: 10px;
  padding-right: 10px;
  background-color: blueviolet;
}

.bookCard:nth-child(1) {
  background-color: burlywood;
}
