/*
.bookList {
  max-width: 90vw;
  margin: 0 auto;
  padding: 30px;
  background-color: green;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.bookCard {
  height: 400px;
  margin: 10px 1em;
  padding-left: 10px;
  padding-right: 10px;
  background-color: blueviolet;
  flex: 0 1 20%;
}
*/


body > div > div:last-child {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}


.bookList {
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}

.bookCard {
  width: 300px;
  height: 400px;

  background-color: green;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}