.navbar {
  width: 100vw;
  height: 64px;
  margin-top: 0;
  position: sticky;
  background: #44bd32;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  width: 33%;
}

.logo {
  display: flex;
  justify-content: start;
  color: #FCF6F5;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
}


.nav-link {
  margin: 0 5px;
  color: #FCF6F5;
}
.navbar-container:nth-child(1) {
  align-items: center;
  position: absolute;
  margin: 20px 0 15px 0;
  display: flex;
}
.nav-login {
  color: #FCF6F5;
}
/*
.analyze-page {
  right: 1%;
  position: absolute;
  color: #FCF6F5;
}
*/